@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/*****  Variable  ****/
:root {
    --font-principal: 'Sora', sans-serif;
    --font-text: sans-serif;
}  



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    transition: background-color 1s ease;
    background-color: white;
}



/* Header */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 6%;
}

/* Styles pour le contenu du header */
header > div {
    display: flex;
    align-items: center;
}

header > div > img {
    width: 18px;
    height: 18px;
    filter: invert(100%);
}

header > div > p {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 18px;
    padding-left: 8px;
    color: white;
}

header > nav {
    border-radius: 100px;
    border: 1.8px solid white;
    width: fit-content;
    display: flex;
    font-family: var(--font-principal);
    padding: 11px;
}

header > nav > p {
    padding: 0px 5px 0px 5px;
    color: white;
}

.image-fond{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    text-align: center;
}

.image-fond>img{
    width: 100%;
    height: 320px;
}

/*****  Image de fin  ****/

#landing {
    padding: 6%;
    margin-top: 110px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
}

.titre-landing > p {
    font-family: var(--font-principal); /*texte*/
    font-size: 1.3em;
    margin-bottom: 5px;
    font-weight: 400;
}

.titre-landing > h1 {
    font-family: var(--font-principal);
    font-weight: 800;
    font-size: 3.9em;
    display: inline-block; 
    margin-right: 5px; 
}

.titre-landing > h1 > img {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Alignement vertical au centre */
}

.scroll{
    margin-bottom: 2%;
    transform: rotate(90deg);
    font-family: var(--font-principal);
}

.scroll>div{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    overflow: hidden;
}

.scroll>div>div{
    border: 1px solid black;
    width: 20px;
    animation: scrollAnimation 1.5s cubic-bezier(.30,.9,.10,.94) infinite;
}


@keyframes scrollAnimation {
    0% {
        width: 0px;
        transform: translateX(0%); /* Position initiale en haut de la zone visible */
    }
    100% {
        transform: translateX(100%); /* Position finale en bas de la zone visible */
        width: 110%;
    }
}



/**********Projet*******/

#projet {
    height: fit-content;
    font-family: var(--font-principal);
    padding: 4% 6% 0% 6%;
    transition: background-color 1s ease;
}


#projet > h2 {
    font-size: 2em;
}





/*la grid*/
#projet > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 0% 0% 0%;
}

#projet > div > div{
    padding-bottom: 4%;
}

#projet > div > div > div > img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
    margin-bottom: 1em;
}

#projet> div > div > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px 0px 4px;
}


/*fleche*/
#projet > div > div > div > div > a {
    padding: 15px;
    border-radius: 100px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
}

#projet > div > div > div > div > a > img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    transition: transform 0.2s ease, filter 0.3s ease;
}

#projet > div > div > div > div > a:hover img {
    transform: rotate(-45deg);
    filter: invert(0%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

#projet > div > div > div > div > a:hover {
    background-color: white;
    transition: background-color 0.1s ease;
}



.description-projet> p {
    margin-top: 2px;
    font-family: var(--font-principal);
    font-weight: 200;
    font-size: 0.9em;
}

.description-projet > h3{
    font-size: 1.2em;
}


/*changment de couleur du body*/
body.black-background{
    background-color: black;
}

body.black-background h1,body.black-background h2, body.black-background h3, body.black-background p{
    color: white; /* Définissez la couleur du texte sur blanc */
}

body h1,body h2,body p, body h3{
    color: black; 
}

body.black-background .etoile{
    filter: invert(100%);
}


/* page about */

#about {
    font-family: var(--font-principal);
    padding: 10% 6% 6% 6%;
    height: 800px;
}

#about > div{
    display: flex;
}

#about > div:first-child > img {
    width: 20px;
    height: 20px;
}

#about > div:first-child > p {
    font-weight: 600;
}


#about > div:last-child {
    margin-top: 10%;
    align-items: center;
    justify-content: space-between;
}

#about > div:last-child> div{
    width: 50%;
}

#about > div:last-child> div > h2{
    font-size: 2.1em;
}

#about > div:last-child> div > p{
    margin-top: 10%;
    font-size: 1.3em;
}



/*** expertise ***/

#expertise {
    height: 800px;
    padding: 3% 6% 6% 6%;
    font-family: var(--font-principal);
}

#expertise > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#expertise > div:last-child {
    margin-top: 60px;
}


#expertise > div > div > h2{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 800;
}

#expertise > div > div > p{
    font-weight: 300;
    font-size: 1.2em;
}


#expertise > div > div{
    width: 50%;
}


#expertise > div > div:last-child{
    text-align: right;
}

#expertise > div > div:last-child > h4{
    color: rgb(169, 169, 169);
    font-size: 3em;
    font-weight: 800;
}



/**** contact section ***/
#contact {
    display: flex;
    justify-content: space-between;
    height: 800px;
    padding: 3% 6% 6% 6%;
    font-family: var(--font-principal);
}

#contact > div:first-child {
   width: 50%;
}

#contact > div:first-child > div > p {
    font-size: 2.3em;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#contact > div:first-child > div > h2 {
    font-size: 1.2em;
    font-weight: 200;
    color: rgb(123, 123, 123);
}

/*formulaire*/
#contact > div:first-child > form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


#contact > div:first-child > form > input, #contact > div:first-child > form > textarea{
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169);
    font-family: var(--font-principal);
    font-size: 1.1em;
    padding: 10px 0 10px 0px;
}

#contact > div:first-child > form > input:focus, #contact > div:first-child > form > textarea:focus{
    outline: none; /* Pour supprimer également l'effet de focus par défaut */
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169);
    font-family: var(--font-principal);
    font-size: 1.1em;
    padding: 10px 0 10px 0px;
}

#contact > div:first-child > form > label{
   color: rgb(169, 169, 169);
   margin-bottom: 2px;
}

/* name */



/* text area*/
#contact > div:first-child > form > .message{
    margin-top: 10%;
}
#contact > div:first-child > form > textarea{
    height: 70px;
}

/* button */
#contact > div:first-child > form > button {
    margin-top: 30px;
    width: 30%;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
    font-family: var(--font-principal);
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}

#contact > div:first-child > form > button > img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}


/* partie de droite du contact me */
#contact > div:last-child {
    width: 30%;
    margin-top: 20px;
}


#contact > div:last-child > .location, #contact > div:last-child > .email-contact, #contact > div:last-child > .link{
    width: 100%;
    margin-bottom: 60px;
}


#contact h4 {
    color: black;
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: 10px;
}

#contact p{
    font-weight: 200;
    font-size: 1.4em;
}

#contact > div:last-child > .link > span {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

#contact > div:last-child > .link > span > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
































